.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .card {
    width: 150px;
    height: 150px;
    margin: 20px 20px 0 0;
    text-align: center;
    background: 0;
    border: 0;
    transition: all $transition-time-short;
  }

  .card-img {
    height: 60%;
    width: 60%;
  }

  .card--removed {
    animation-name: shake;
    animation-duration: $transition-time-short;
  }

  .card--selected .card-container,
  .card--removed .card-container {
    transform: rotatey(-180deg);
  }

  .card--unselected .card-front {
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all $transition-time-short cubic-bezier(.25, .8, .25, 1);

    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
  }

  .card-container {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all $transition-time-long;
  }

  .card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 8px;
    backface-visibility: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-front {
    background: white;
    overflow: hidden;
    z-index: 1;
  }

  .card-back {
    background-color: transparent;
    z-index: 2;
    transform: rotatey(-180deg);
  }
}
