.navbar {
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

  .logo {
    margin: 0 20px 0 10px;
    cursor: pointer;
  }

  .navbar-brand {
    text-transform: uppercase;
  }

  .navbar-nav {
    margin: 0 auto !important; //thx bootsrap
  }

  .header-deck-size {
    color: white;

    select {
      margin: 0 20px;
    }

    .start-game-btn {
      margin: 0;
    }
  }
}
