.start-game {
  min-height: calc(100vh - 56px); //header
  display: flex;
  align-items: center;
  text-align: center;

  .company-title,
  .game-name {
    text-transform: uppercase;
  }

  .company-title {
    margin: 0;
  }

  .game-name {
    margin-bottom: 50px;
  }

  select {
    margin: 0 auto;
    display: block;
  }

  .start-game-btn {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
    background: $cta-color;
    border: 0;
  }
}
