// Override default variables before the import
$body-bg: #f2f2f2;
$cta-color: #fc331d;
$cta-color-hover: #ea2332;
$text-primary: #212529;
$text-secondary: #898989;

$transition-time-short: 225ms;
$transition-time-long: 450ms;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

@import "default";
@import "animations";
@import "header";
@import "start-game";
@import "cards";
@import "scoreboard";
